<h3>■サイトについて</h3>
<p>はてなブックマークのホットエントリー（<a href="http://b.hatena.ne.jp/hotentry">http://b.hatena.ne.jp/hotentry</a>）と、そのブックマークコメントを閲覧できるサイトです。</p>
<p>ついでにブコメを殴れます。殴る際は各コメントページ右上のチェックをオンにしてください。殴る際は音が出ますので注意してください。</p>
<p>スマホ対応はまともにできていないので、音が鳴らなかったり動作がおかしかったりするかもしれません。</p>

<h3>■サイト制作素材</h3>
<p><a href="http://b.hatena.ne.jp/" target="_blank">はてなブックマーク</a></p>
<p>音声素材</p>
<ul>
  <li>打撃音、悲鳴、ライバル声（女）：<a href="http://soundeffect-lab.info/" target="_blank">「効果音ラボ」</a></li>
  <li>ライバル声（男）：<a href="http://wingless-seraph.net/" target="_blank">「ingless Seraph」</a></li>
</ul>


<h3>■お問い合わせ</h3>

<p>お問い合わせ・苦情は<2fzomekiあgmail.com>までお願いします（あを@に変えてください）。</p>
<p>ご自分のidをこのサイトに載せてほしくないなどの場合は、idを教えてくだされば表示させないよう対応いたします。</p>

<h3>■その他<span style="font-size:12px; font-weight:normal; color:#aaaaaa;">（細かい言い訳）</span></h3>
<ul>
<li>トップのuser数とブコメページのuser数に差があります（本家でも同様）が、これは非公開ブックマークの影響と思われます。</li>
</ul>
