<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <title>殴れるはてブ</title>  
  <link href="css.css" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>

<div id="container">
    
  <div id="header">
    <div id="title-box">
    <h1 id="title"><a href="/">殴れるはてブ</a></h1>    <div>ごく普通のはてなブックマーク閲覧サイトです。｜<a href="http://b.hatena.ne.jp/entry/s/beat-htb.herokuapp.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="殴れるはてブ" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></div>
    </div>
    <div id="menu">
      ｜<a href="/">総合</a>
      ｜<a href="/social">世の中</a>
      ｜<a href="/economics">政治と経済</a>
      ｜<a href="/life">暮らし</a>
      ｜<a href="/knowledge">学び</a>
      ｜<a href="/it">テクノロジー</a>
      ｜<a href="/fun">おもしろ</a>
      ｜<a href="/entertainment">エンタメ</a>
      ｜<a href="/game">アニメとゲーム</a>
      ｜</div>
  </div>

  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
フッター

<!--beatsound-->
<audio class="beat00" preload="auto">
  <source src="/sound/beat00.mp3" type="audio/mp3">
</audio>
<audio class="beat01" preload="auto">
  <source src="/sound/beat01.mp3" type="audio/mp3">
</audio>
<audio class="beat02" preload="auto">
  <source src="/sound/beat02.mp3" type="audio/mp3">
</audio>  
<audio class="beat03" preload="auto">
  <source src="/sound/beat03.mp3" type="audio/mp3">
</audio>

<!--scream-->
<audio class="scream00" preload="auto">
  <source src="/sound/scream00.mp3" type="audio/mp3">
</audio>
<audio class="scream01" preload="auto">
  <source src="/sound/scream01.mp3" type="audio/mp3">
</audio>
<audio class="scream02" preload="auto">
  <source src="/sound/scream02.mp3" type="audio/mp3">
</audio>
<audio class="scream03" preload="auto">
  <source src="/sound/scream03.mp3" type="audio/mp3">
</audio>
<audio class="scream04" preload="auto">
  <source src="/sound/scream04.mp3" type="audio/mp3">
</audio>
<audio class="scream05" preload="auto">
  <source src="/sound/scream05.mp3" type="audio/mp3">
</audio>
  
<!--rival00 cool-->
<audio class="rival00-safe" preload="auto">
  <source src="/sound/rival/cool/safe.mp3" type="audio/mp3">
</audio>
<audio class="rival00-damage00" preload="auto">
  <source src="/sound/rival/cool/damage00.mp3" type="audio/mp3">
</audio>
<audio class="rival00-damage01" preload="auto">
  <source src="/sound/rival/cool/damage01.mp3" type="audio/mp3">
</audio>
<audio class="rival00-damage02" preload="auto">
  <source src="/sound/rival/cool/damage02.mp3" type="audio/mp3">
</audio>
<audio class="rival00-damage03" preload="auto">
  <source src="/sound/rival/cool/damage03.mp3" type="audio/mp3">
</audio>
<audio class="rival00-die" preload="auto">
  <source src="/sound/rival/cool/die.mp3" type="audio/mp3">
</audio>

<!--rival01 hero-->
<audio class="rival01-safe" preload="auto">
  <source src="/sound/rival/hero/safe.mp3" type="audio/mp3">
</audio>
<audio class="rival01-damage00" preload="auto">
  <source src="/sound/rival/hero/damage00.mp3" type="audio/mp3">
</audio>
<audio class="rival01-damage01" preload="auto">
  <source src="/sound/rival/hero/damage01.mp3" type="audio/mp3">
</audio>
<audio class="rival01-damage02" preload="auto">
  <source src="/sound/rival/hero/damage02.mp3" type="audio/mp3">
</audio>
<audio class="rival01-damage03" preload="auto">
  <source src="/sound/rival/hero/damage03.mp3" type="audio/mp3">
</audio>
<audio class="rival01-die" preload="auto">
  <source src="/sound/rival/hero/die.mp3" type="audio/mp3">
</audio>

<!--rival02 priest-->
<audio class="rival02-safe" preload="auto">
  <source src="/sound/rival/priest/safe.mp3" type="audio/mp3">
</audio>
<audio class="rival02-damage00" preload="auto">
  <source src="/sound/rival/priest/damage00.mp3" type="audio/mp3">
</audio>
<audio class="rival02-damage01" preload="auto">
  <source src="/sound/rival/priest/damage01.mp3" type="audio/mp3">
</audio>
<audio class="rival02-damage02" preload="auto">
  <source src="/sound/rival/priest/damage02.mp3" type="audio/mp3">
</audio>
<audio class="rival02-damage03" preload="auto">
  <source src="/sound/rival/priest/damage03.mp3" type="audio/mp3">
</audio>
<audio class="rival02-die" preload="auto">
  <source src="/sound/rival/priest/die.mp3" type="audio/mp3">
</audio>

<!--rival03 witch-->
<audio class="rival03-safe" preload="auto">
  <source src="/sound/rival/witch/safe.mp3" type="audio/mp3">
</audio>
<audio class="rival03-damage00" preload="auto">
  <source src="/sound/rival/witch/damage00.mp3" type="audio/mp3">
</audio>
<audio class="rival03-damage01" preload="auto">
  <source src="/sound/rival/witch/damage01.mp3" type="audio/mp3">
</audio>
<audio class="rival03-damage02" preload="auto">
  <source src="/sound/rival/witch/damage02.mp3" type="audio/mp3">
</audio>
<audio class="rival03-damage03" preload="auto">
  <source src="/sound/rival/witch/damage03.mp3" type="audio/mp3">
</audio>
<audio class="rival03-die" preload="auto">
  <source src="/sound/rival/witch/die.mp3" type="audio/mp3">
</audio>

<audio class="clear" preload="auto">
  <source src="/sound/clear.mp3" type="audio/mp3">
</audio>
  
  </div>
</div>
</body>