<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="ごく普通のはてなブックマーク閲覧サイトです。">
  <title>殴れるはてブ</title>  
  <link href="css.css" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  <script type="text/javascript" src="https://code.createjs.com/soundjs-0.6.1.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="javascript.js"></script>
</head>
<body>

<div id="container">
    
  <div id="header">
    <div id="title-box">
    <h1 id="title"><a href="/">殴れるはてブ</a></h1>    <div>ごく普通のはてなブックマーク閲覧サイトです（スマホ未対応）。｜<a href="/about">About</a>｜<a href="http://b.hatena.ne.jp/entry/beat-htb.anko.red/" class="hatena-bookmark-button" data-hatena-bookmark-title="殴れるはてブ" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></div>
    </div>
    <div id="menu">
      ｜<a href="/">総合</a>
      ｜<a href="/social">世の中</a>
      ｜<a href="/economics">政治と経済</a>
      ｜<a href="/life">暮らし</a>
      ｜<a href="/knowledge">学び</a>
      ｜<a href="/it">テクノロジー</a>
      ｜<a href="/fun">おもしろ</a>
      ｜<a href="/entertainment">エンタメ</a>
      ｜<a href="/game">アニメとゲーム</a>
      ｜
    </div>
  </div>

  <div id="main">
    <%= yield %>
  </div>
  <div id="cm-container">
    <div class="cm-box"><script type="text/javascript" src="//rot3.a8.net/jsa/497cd700285ef78bde63814dae17ad9b/93dd4de5cddba2c733c65f233097f05a.js"></script></div><div class="cm-box"><script type="text/javascript" src="//rot3.a8.net/jsa/497cd700285ef78bde63814dae17ad9b/93dd4de5cddba2c733c65f233097f05a.js"></script></div>
  </div>
  <div id="footer">
フッター

  </div>
</div>
</body>