<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="ごく普通のはてなブックマーク閲覧サイトです。">
  <title>殴れるはてブ</title>  
  <link href="css.css" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  <script type="text/javascript" src="https://code.createjs.com/soundjs-0.6.1.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="javascript.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60226222-3', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>

<div id="container">
    
  <div id="header">
    <div id="title-box">
    <h1 id="title"><a href="/"><span style="color: #FF9999;">殴</span>れるはてブ</a></h1>    <div>ごく普通の<a href="http://b.hatena.ne.jp/" target="_blank">はてなブックマーク</a>閲覧サイトです（スマホは動作不安定かもです）。｜<a href="/about">About</a>｜<a href="http://b.hatena.ne.jp/entry/beat-htb.anko.red/" class="hatena-bookmark-button" data-hatena-bookmark-title="殴れるはてブ" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>｜<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://beat-htb.anko.red/" data-lang="ja">ツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
    </div>
    <div id="menu">
      ｜<a href="/">総合</a>
      ｜<a href="/social">世の中</a>
      ｜<a href="/economics">政治と経済</a>
      ｜<a href="/life">暮らし</a>
      ｜<a href="/knowledge">学び</a>
      ｜<a href="/it">テクノロジー</a>
      ｜<a href="/fun">おもしろ</a>
      ｜<a href="/entertainment">エンタメ</a>
      ｜<a href="/game">アニメとゲーム</a>
      ｜URL直接指定できます <input type="text" id="input" value="http://" onclick="this.select();"><input type="submit" id="submit" VALUE="殴る">
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
    <div id="footer-left"></div>
    <div id="footer-right"></div>
  </div>
</div>
</body>