<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="ごく普通のはてなブックマーク閲覧サイトです。">
  <title>殴れるはてブ</title>  
  <link href="css.css" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  <script type="text/javascript" src="https://code.createjs.com/soundjs-0.6.1.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>

<div id="container">
    
  <div id="header">
    <div id="title-box">
    <h1 id="title"><a href="/">殴れるはてブ</a></h1>    <div>ごく普通のはてなブックマーク閲覧サイトです（PC専用）。｜<a href="/about">About</a>｜<a href="http://b.hatena.ne.jp/entry/beat-htb.anko.red" class="hatena-bookmark-button" data-hatena-bookmark-title="殴れるはてブ" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></div>
    </div>
    <div id="menu">
      ｜<a href="/">総合</a>
      ｜<a href="/social">世の中</a>
      ｜<a href="/economics">政治と経済</a>
      ｜<a href="/life">暮らし</a>
      ｜<a href="/knowledge">学び</a>
      ｜<a href="/it">テクノロジー</a>
      ｜<a href="/fun">おもしろ</a>
      ｜<a href="/entertainment">エンタメ</a>
      ｜<a href="/game">アニメとゲーム</a>
      ｜<!--<input type="url" placeholder="エントリURL直接指定もできます"><input type="submit">-->
    </div>
  </div>

  <div id="main">
    <%= yield %>
  </div>
  <div id="cm-box">
<!--  <a href="https://px.a8.net/svt/ejp?a8mat=2TA3JG+448Z6I+3OIK+60WN5" target="_blank">
<img border="0" width="468" height="60" alt="" src="https://www26.a8.net/svt/bgt?aid=170112364249&wid=002&eno=01&mid=s00000017174001012000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=2TA3JG+448Z6I+3OIK+60WN5" alt="">-->
  </div>
  <div id="footer">
フッター

  </div>
</div>
</body>