<h3>サイト制作素材</h3>

<p><a href="http://b.hatena.ne.jp/" target="_blank">はてなブックマーク</a></p>

<p>音声素材</p>
<ul>
  <li>打撃音、悲鳴、ライバル声（女）：<a href="http://soundeffect-lab.info/" target="_blank">「効果音ラボ」</a></li>
  <li>ライバル声（男）：<a href="http://wingless-seraph.net/" target="_blank">「ingless Seraph」</a></li>
</ul>


