/*
#FFC8C8　薄ピンク
#FF9999　ピンク
#444F5A　黒っぽい
#3E4149　濃い黒
*/

body {
    font: 16px/1.5 Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, sans-serif;
    margin:0px;
}

#container {
    height: 100%;
    width: 800px;
    margin: auto;
}

#header {
    background-color: #FFC8C8;
    margin-bottom: 12px;
}


#title {
    font-family: "游ゴシック", Arial, sans-serif;
    font-size:32px;
    font-weight: bold;
}

#title a {
    text-decoration: none;
    color:#FFFFFF;
}

#left {
    background-color: #F5F5F5;
    float: left;
    width: 600px;
    height: 100%;
}

#hot-head{
    font-weight: bold;
    background: #FFFFFF;
    border-bottom: 3px solid #444F5A;
    color: #FF9999;
}

.entries {
    padding: 8px 10px 8px 12px;
    border-bottom: 3px solid #FFC8C8;
    border-left: 2px solid #FFC8C8;
    border-right: 2px solid #FFC8C8;
    background-color: #FFFFFF;
}

.catch-img {
    float:left;
    margin-right: 10px;
    margin-top: 4px;
}

.entry-title {
    float:left;
    width:400px;
}

.entry-link {
    color: #444F5A;
    font-weight: border;
}

.bkmcount {
    float:right;
}    
    
a.bkmlink {
    font-size: 20px;
    color: #FF9999;
}

.top-three-bkm {
    clear: both;
}

.top-three-bkm :hover {
    background-color: #FAFAFA;
}

.top-three-bkm a {
    text-decoration: none;
    color: #3E4149;
}

.bkm-preview {
    font-size: 12px;
    height: 20px;
    margin-left:3px;
}

.top-user-img {
    vertical-align: middle;
}
.top-user-name {
    color: #008FDE;
}
.top-user-star {
    color: #FFD700;
    font-size: 12px;
    font-weight: bold;
}

.topuser{
}


#right {
    background-color: #FAF0E6;
    width: 200px;
    height: 100%;
    float: right;
    padding-top: 30px;
}

#htbicon{
}    

#footer {
    clear: both;
    height: 50px;
    margin-top:50px;
    background-color: #FFC8C8;
    margin-top:10px;
}

.bkm-box {
    padding: 8px 10px 8px 12px;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
    background-color: #FFFFFF;
    width: 578px;
    line-height: 18px;
}

.bkm-user {
    color: #008FDE;
    text-decoration: none;
    font-size: 13px;
}

.bkm-star {
    color: #FFD700;
    font-size: 14px;
    font-weight: bold;
}






.switch input {
    display: none;
}
.switch label {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.switch label:before {
    padding: 6px 10px;
    content: 'O N';
    border-radius: 6px 0 0 6px;
    background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1) inset;
    color: #333;
}
.switch label:after {
    padding: 6px 10px;
    content: 'OFF';
    border-radius: 0 6px 6px 0;
    background: #C30;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1) inset;
    color: #FFF;
}
.switch input + label:hover:before {
    opacity: 0.5;
}
.switch input:checked + label:before {
    background: #9C0;
    color: #FFF;
    opacity: 1;
}
.switch input:checked + label:after {
    background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
    color: #333;
}
.switch input:checked + label:hover:after {
    opacity: 0.5;
}