/*
#FFC8C8　薄ピンク
#FF9999　ピンク
#444F5A　黒っぽい
#3E4149　濃い黒
*/

body {
    font: 12px/1.5 Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, sans-serif;
    margin:0;
}

#container {
    height: 100%;
    margin: auto;
    max-width:1050px;
}

@media screen and ( max-width:479px )
{
#container {
    height: 100%;
    margin: auto;
    max-width:479px;
}    
}

#header{
    
}

#title-box {
    border-bottom: 6px solid #FFC8C8;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items:flex-end;
}

#title {
    font-family: "游ゴシック", Arial, sans-serif;
    font-size:32px;
    font-weight: bold;
    margin:0;
}

#title a {
    text-decoration: none;
    color:#444F5A;
}

#menu {
    margin-bottom:15px;
}
    

#entries-header {
    margin-top:5px;
    font-size:16px;
    font-weight: bold;
    background-color: #FF9999;
    text-align:center;
    color:#FFFFFF;
}

#contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entries {
    padding: 8px 6px 8px 6px;
    width:500px;
    margin:2px;
}

.entry-title {
    float:left;
    font-weight: bold;
    width:80%;
    
}

.entry-title a {
    font-weight: bold;
    font-size:13px;
}

.bkmcount {
    float:right;
    width:20%;
    margin:auto;
    text-align:center;
    color: #FF9999;
    font-weight:bold;
    line-height: 14px;
    font-size: 18px;
    font-weight:bold;
    text-decoration: underline;
}    
.bkmcount:hover{
    cursor: pointer;
    color: #FFC8C8;
}    

.description {
    clear:both;
}    

#bkm-head {
    border-bottom: 1px solid #FF9999;    
    z-index:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#entry-preview {
    font-size:12px;
    font-weight: bold;
    color: #FF9999;
    background-color: #FFFFFF;
    padding: 6px;
    max-width:680px;
}

#entry-preview a {
    font-size:14px;
    font-weight: bold;
    color: #444F5A;
}

#float-right{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
}

#bkm-remaining {
    color: #FFFFFF;
    height:100%;
    max-width: 150px;
    font-size:12px;
    text-align:center;
    font-weight: bold;
    background-color: #FF9999;
    padding: 0px 5px 0px 5px;
}

#bkm-remaining-figure {
    font-size:24px;
    bottom: 0;
}    

#bkm-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    float:left;
}

#bkm-contents-not-beaten {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    float:left;
}

.bkm-box, .bkm-box-rival {
    padding: 5px 5px 5px 5px;
    position: relative;
    min-width: 52px;
    border: 1px solid #FFFFFF;
    flex-grow: 2;
}

.bkm-box-rival {
    font-weight: bold;
}

.bkm-user {
    margin:auto;
    font-weight:bold;
    color: #008FDE;
    text-decoration: none;
    font-size: 12px;
}


.bkm-icon {
    margin-right:6px;
    margin:auto;
    width:50px;
    float:left;
    text-align:center;
}

.bkm-comment {
    font-size:12px;
    max-width:270px;
    float:left;
    margin-left:4px;
    word-break: break-all;
}

.bkm-star {
    color:#FFA500;
    font-size: 14px;
    font-weight: bold;
}

#right {
    color: #FAF0E6;
    width: 125px;
    line-height: 620px;
    float: right;
}


#footer {
    clear: both;
    height: 75px;
    border-top: 3px solid #FFC8C8;
    margin-top:10px;
    color: #FFFFFF;
}




